<h1 class="mt-4 center">Task List</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Task</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.due_date.strftime("%d-%m-%Y") %></td>
        <td><%= task.priority %></td>
        <td>
          <%= task.progress %>%
          <%= form_with url: update_progress_task_path(task), method: :patch, local: true do |f| %>
            <%= f.number_field :progress, value: task.progress, min: 0, max: 100, step: 10 %>
            <%= f.submit "Update", class: "btn btn-sm btn-info" %>
          <% end %>
        </td>
        <td>
          <%= task.status %>
            <% if task.status != "completed" %>
              <%= button_to "Mark Done", mark_as_done_task_path(task), method: :patch, class: "btn btn-success btn-sm" %>
            <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), class: "btn btn-sm btn-warning" %>
          <%= link_to 'Delete', task, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add task', new_task_path, class: "btn btn-primary btn-sm" %>

